---
title: "Aide juridique en ligne, votre réponse juridique en 24h"
layout: splash
permalink: /
redirect_from: "/index.php"
header:
  overlay_image: "/assets/images/assurance-vie.jpg"
  overlay_filter: "0.5"
  actions:
    - label: "Foo Button"
      url: "#foo"
    - label: "Bar Button"
      url: "#bar"
excerpt: "Aide-juridique-en-ligne vous apporte une réponse ciblée, argumentée et étayée dans un délai de 24 à 48 heures selon la complexité de la question."
intro: 
  - excerpt: 'Bienvenue chez votre juriste personnelle : je suis diplômée Notaire, et me propose de vous répondre *personnellement* sur toutes vos questions de droit, en vous adressant, dans les 24 h de votre demande, une *réponse sur mesure* dans les domaines suivants :'
feature_row:
  - image_path: assets/images/unsplash-gallery-image-1-th.jpg
    alt: "droit immobilier"
    title: "Droit Immobilier"
    excerpt: "Achat, vente, location, construction, copropriété, prêts etc."
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "Droit civil, du couple et de la famille"
    title: "Droit Civil, du Couple et de la Famille"
    excerpt: "Mariage, héritage, partage, donations, fiscalité."
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/unsplash-gallery-image-3-th.jpg
    title: "Droit Commercial"
    excerpt: "Vente fonds de commerce, bail commercial, location-gérance."
feature_row2:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Left Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Left aligned with `type="left"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Right Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Right aligned with `type="right"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row4:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Center Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Centered with `type="center"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %}

## Découvrez un exemple d'interrogation*:
### Interrogation :
Nous sommes mariés sans contrat depuis 1990. Nous avons acheté une maison à ... peu après notre mariage. Ne nous entendant plus depuis environ deux ans, Monsieur est rentré dans son village natal, à côté de … Je suis restée dans le domicile conjugal. Aujourd'hui, j'envisage de vendre la maison pour me racheter un appartement plus adapté à ma situation de célibataire (nous n'avons pas d'enfants), et j'ai trouvé un petit appartement de deux pièces dont le prix entre dans mon budget.

Au cours de notre mariage, ma mère est décédée, et j'ai alors hérité de la maison familiale située à ... , que j'ai vendue il y a trois ans, et j'ai alors reçu un prix de vente de ... euros, que j'ai placé sur un compte d'épargne joint ouvert à mon nom et à celui de mon époux.

J'ai déposé une requête en divorce. L'ordonnance de non-conciliation a été rendue le ler novembre 2010. Depuis la procédure stagne car les conflits sont très nombreux.

Pouvez-vous me dire quelle est la façon la plus sûre d'être seule propriétaire de l'appartement que je désire acheter ?

Merci Cordialement,
### Réponse adressée sous 24 heures :
Bonjour, merci d'avoir choisi Aide Juridique en Ligne.

Si je lis bien votre énoncé, vous êtes donc soumis au régime légal de la communauté de biens réduite aux acquêts régis par les articles 1401 et suivants du Code civil, et une procédure de divorce contentieux est en cours. L'ordonnance de non-conciliation a été rendue. Selon l'article 262-1 du Code civil, dans les rapports patrimoniaux entre vous, la communauté est dissoute à compter de la date de cette ordonnance.

Concernant plus particulièrement l'acquisition que vous envisagez :

Vous désirez vendre la maison de … pour financer l'acquisition d'un nouvel appartement plus adapté au moyen des sommes ainsi recueillies.

Je vous déconseille cette solution : en effet, pour vendre la maison, il faudra tout d'abord recueillir l'accord de votre époux, la maison étant actuellement, du fait de la procédure de divorce, indivise entre vous, et le régime de l'indivision exigeant le consentement unanime des co-indivisaires pour tout acte de disposition. Il apparaît à première vue, eu égard au contexte apparemment conflictuel du divorce, d'obtenir l'accord de votre époux.

En outre, vous possédez une autre possibilité de financement : la maison recueillie dans la succession de votre mère, que vous avez vendue. En vertu de l'article 1405 alinéa 1 du Code civil, la maison constitue un bien propre. En vertu de l'article 1406 alinéa 2 du même code, la somme reçue en paiement du prix de vente, constitue également un bien propre par l'effet de la « subrogation réelle automatique ».

Etant donc propriétaire de sommes d'argent à titre de biens propres, vous pouvez tout à fait les employer au paiement du prix d'acquisition de l'appartement, qui formera également pour vous un bien propre. En effet, l'article 1406 alinéa 2 in fine du Code civil, précise que « forment aussi des propres, par l'effet de la subrogation réelle (...) les biens acquis en emploi ou remploi, conformément aux articles 1434 et 1435 du Code civil. »

En outre, le fait que les fonds aient transité sur un compte joint où ils se sont confondus avec d'autres fonds ne fait en aucun cas obstacle à ce remploi.

Dans l'acte d'acquisition de l'appartement, le notaire devra introduire les déclarations relatives au remploi, à savoir:
* préciser que le prix et les frais d'acte ont été payés au moyen de sommes propres comme provenant de la vente la maison sise à … ;
* préciser que cette acquisition est réalisée pour vous tenir lieu de remploi afin que le bien ainsi acquis vous soit propre.
Dans ces conditions, vous pourrez acquérir le bien avec la certitude qu'il sera propre quelque soit l'issue du divorce, et l'acquérir sans que l'intervention de votre époux ne soit obligatoire.

Enfin, à toutes fins utiles, j'attire votre attention sur l'opportunité de réunir les preuves de l'existence de vos deniers propres afin de prévenir toute contestation à ce sujet lors des opérations de partage.

*Publication aimablement autorisée par mon client
